<p id="notice"><%= notice %></p>

<p>
  <strong>Accountnumber:</strong>
  <%= @account.accountnumber %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @account.rank %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
