<p id="notice"><%= notice %></p>

<p>
  <strong>Firstline:</strong>
  <%= @address.firstline %>
</p>

<p>
  <strong>Secondline:</strong>
  <%= @address.secondline %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @address.postcode %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
